.homeContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  align-items: center;
  padding: 1rem 0;
  width: 80%;
  height: 100%;

  > img {
    width: 27rem;
  }
}

.mainInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
 
  h1 {
    padding: 1.5rem 1.5rem 0rem 1.5rem;
    font-family: 'Trade Winds', serif;
    font-size: 5rem;
    background-clip: text;
    background-image: global.$purple-gradient;
    color: transparent;
  }

  p {
    font-family: 'Geist', sans-serif;
    font-size: 22px;
    padding: 1.5rem;
    color: global.$color-primary-a30;
  }
}
