.mentorshipContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3rem;
  gap: 1.5rem;
  width: 80%;

  h1 {
    font-family: 'Helvetica', sans-serif;
    font-size: 4rem;
    background-clip: text;
    background-image: linear-gradient(to right, global.$color-purple-a0, global.$color-purple-a10);
    color: transparent;
  }

  p {
    font-family: 'Geist', sans-serif;
    color: global.$color-primary-a40;
    font-size: 1.3rem;
  }

  h2 { 
    color: global.$color-purple-a10;
    font-size: 2.5rem;
    font-family: 'Helvetica', sans-serif;
    margin-top: 1rem;
  }

  a {
    color: global.$color-purple-a10;
  }
}