.mentorshipContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  height: 100%;
  padding: 0 1rem;

  h1 {
    font-family: 'Helvetica', sans-serif;
    font-size: 2rem;
    background-clip: text;
    background-image: linear-gradient(to right, global.$color-purple-a0, global.$color-purple-a10);
    color: transparent;
  }

  p {
    font-family: 'Geist', sans-serif;
    color: global.$color-primary-a40;
    font-size: 1.1rem;
    line-height: 24px;
  }

  h2 { 
    color: global.$color-purple-a10;
    font-size: 2.5rem;
    font-family: 'Helvetica', sans-serif;
    margin-top: 1rem;
  }

  a {
    color: global.$color-purple-a10;
  }

  .assetsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;

    .impactSwag {
      border-radius: 10px;
      width: 100%;
      max-width: 500px;
    }

    .petImage {
      width: 10rem;
    }
  }

}

@media screen and (min-width: global.$layout-breakpoint-sm) {
  .mentorshipContainer {
    height: auto;

    h1 {
      font-size: 3rem;
    }
  }
}

@media screen and (min-width: global.$layout-breakpoint-md) {
  .mentorshipContainer {
    width: 80%;

    .assetsContainer {
      flex-direction: row;
      justify-content: space-between;
      gap: 2rem;

      .impactSwag {
        width: 70%;
      }
  
      .petImage {
        width: 13rem;
      }
    }
  }
}

@media screen and (min-width: global.$layout-breakpoint-lg) {
  .mentorshipContainer {
    padding: 0 3rem;

    .assetsContainer {
      width: 80%;
    }
  }
}
