.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  gap: 1.5rem;

  h1 {
    font-family: 'Helvetica', sans-serif;
    font-size: 2rem;
    background-clip: text;
    background-image: linear-gradient(to right, global.$color-purple-a0, global.$color-purple-a10);
    color: transparent;
  }

  p {
    font-family: 'Geist', sans-serif;
    color: global.$color-primary-a40;
    font-size: 1.1rem;
    line-height: 24px;
  }

  .secondaryContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    form {
      width: 100%;
      display: grid;
      grid-template-areas: 'name'
                           'email'
                           'message'
                           'button';
      column-gap: 1.5rem;
      row-gap: 1.3rem;
  
      .formField {
        display: flex;
        flex-direction: column;
        font-family: 'Helvetica', sans-serif;
  
        label {
          color: global.$color-purple-a10;
          font-size: 1.1rem;
          margin-bottom: 0.5rem;
        }
  
        input {
          height: 3rem;
          
        }
  
        textarea {
          resize: none;
        }
  
        input, textarea {
          border-radius: 1rem;
          padding: 1rem;
          font-family: 'Helvetica', sans-serif;
          font-size: 1.1rem;
          border: 4px solid #ad96cd;
          background-color: global.$color-primary-a50;
          outline: none;
  
          &:focus {
            -webkit-box-shadow: 0px 0px 20px 0px rgba(173,150,205,1);
            -moz-box-shadow: 0px 0px 20px 0px rgba(173,150,205,1);
            box-shadow: 0px 0px 20px 0px rgba(173,150,205,1);
          }
        }

        .errorField {
          border: 4px solid global.$color-error-a0;
        }
      }
  
      .nameField {
        grid-area: name;
      }
  
      .emailField {
        grid-area: email;
      }
  
      .messageField {
        grid-area: message;
      }
  
      button {
        grid-area: button;
        width: 7rem;
        border-radius: 1rem;
        padding: 0.5rem;
        font-size: 1.1rem;
        font-weight: 700;
        background-color: global.$color-purple-a10;
        border: 4px solid #ad96cd;
        cursor: pointer;
        color: global.$color-surface-a10;
  
        &:hover {
          border: 4px solid #ad96cd;
          background-color: transparent;
          color: global.$color-purple-a10;
        }

        &:disabled {
          background-color: global.$color-surface-mixed-a50;
          color: global.$color-surface-a10;
          border: 4px solid global.$color-surface-mixed-a50;
          cursor: not-allowed;
        }
      }
    }

    img {
      width: 12rem;
      margin-top: 1.5rem;
    }
  }
}

@media screen and (min-width: global.$layout-breakpoint-sm) {
  .contactContainer {
    width: 80%;

    h1 {
      font-size: 3rem;
    }

    .secondaryContainer {
      flex-wrap: wrap;
      justify-content: center;
      
      img {
        width: 15rem;
      }
    }
  }
}

@media screen and (min-width: global.$layout-breakpoint-md) {
  .contactContainer {
    .secondaryContainer {
      flex-direction: row;
      gap: 1.5rem;

      form {
        width: 80%;
        grid-template-areas: 'name email'
                            'message message'
                            'button button';
      }

      img {
        width: 16rem;
        margin-top: 0;
      }
    }
  }
}

@media screen and (min-width: global.$layout-breakpoint-lg) {
  .contactContainer {
    padding: 0 3rem;
  }
}
