nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 90%;

  .introContainer {
    display: flex;
    gap: 1rem;
    align-items: center;

    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    img {
      width: 4rem;
    }
  
    h2 {  
      font-family: 'Trade Winds', serif;
      font-size: 2.3rem;
      background-clip: text;
      background-image: global.$purple-gradient;
      color: transparent;
    }
  }

  .linksContainer {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;

      a {
        font-family: 'Helvetica', sans-serif;
        text-decoration: none;
        color: global.$color-primary-a40;
        font-weight: bold;
        font-size: 1.25rem;

        &:hover {
          color: transparent;
          background-clip: text;
          background-image: global.$purple-gradient;
        }
      }

      .brandIcon {
        width: 2rem;
        height: 2rem;
      }

      .activeLink {
        color: transparent;
        background-clip: text;
        background-image: global.$purple-gradient;
      }
  }
}
