nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;

  .introContainer {
    display: flex;
    gap: 1rem;
    align-items: center;

    div {
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    button {
      width: 4rem;
      height: 4rem;
      background-color: transparent;
      border: none;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
      }
    }
  
    h2 {  
      display: none;
    }
  }

  .helloText {
    font-family: 'Trade Winds', serif;
    font-size: 2rem;
    color: global.$color-purple-a10;
  }

  .linksContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap: 1.5rem;

      a {
        font-family: 'Helvetica', sans-serif;
        text-decoration: none;
        color: global.$color-primary-a40;
        font-weight: bold;
        font-size: 1.25rem;

        &:hover {
          color: transparent;
          background-clip: text;
          background-image: global.$purple-gradient;
        }
      }

      .brandIcons {
        display: flex;
        gap: 1.5rem;

        a {
          width: 2rem;
          height: 2rem;
        }
      }

      .activeLink {
        color: transparent;
        background-clip: text;
        background-image: global.$purple-gradient;
      }
  }
}

@media screen and (min-width: global.$layout-breakpoint-sm) {
  nav {
    .introContainer {
      h2 {
        display: flex;
        font-family: 'Trade Winds', serif;
        font-size: 2.3rem;
        background-clip: text;
        background-image: global.$purple-gradient;
        color: transparent;
      }
    }
  
    .linksContainer {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
  }
}

@media screen and (min-width: global.$layout-breakpoint-md) {
  nav {
    width: 90%;
  }
}
